.boxes{
    height: 175px;
    width: 175px;
    display: grid;
    border: solid, 1px, black;
    grid-template-columns: repeat(3,33.33%);
    grid-template-rows: repeat(3,33.33%);
}

.digitArea{
    background-color: rgb(140, 206, 131);
    font-size: 30px;
    text-align: center;
    justify-content: center;
    resize: none;
}

.digitArea:empty{
    background-color: rgb(246, 247, 248);
}